# 75.06/95.58 Organización de Datos
# Primer Cuatrimestre de 2020
# Trabajo Práctico 1: Enunciado

El trabajo práctico 1 de la materia se basa en el análisis de los tweets del set de datos de la competencia: https://www.kaggle.com/c/nlp-getting-started.  

- id - identificador unico para cada  tweet
- text - el texto del tweet
- location - ubicación desde donde fue enviado (podría no estar)
- keyword - un keyword para el tweet  (podría faltar)
- target - en train.csv, indica si se trata de un desastre real  (1) o no (0)

El objetivo del primer TP es realizar un análisis exploratorio del set de datos. Queremos ver qué cosas podemos descubrir sobre los datos que puedan resultar interesantes. Estas cosas pueden estar relacionadas al objetivo del TP2 (predecir si un cierto tweet es real o no) o no, ambas son de interés.

## Los requisitos de la primera entrega son los siguientes:

- El análisis debe estar hecho en Python Pandas o R.
- El análisis debe entregarse en formato pdf vía gradescope. En el informe no va código.
- Informar el link a un repositorio Github en donde pueda bajarse el código completo para generar el análisis.

## La evaluación del TP se realizará en base al siguiente criterio:

- Originalidad del análisis exploratorio. 
- Calidad del reporte. ¿Está bien escrito? ¿Es claro y preciso? 
- Calidad del análisis exploratorio: qué tipo de preguntas se hacen y de qué forma se responden, ¿es la respuesta clara y concisa con respecto a la pregunta formulada? 
- Calidad de las visualizaciones presentadas.
- ¿Tienen todos los ejes su rótulo?
- ¿Tiene cada visualización un título?
- ¿Es entendible la visualización sin tener que leer la explicación?
- ¿El tipo de plot elegido es adecuado para lo que se quiere visualizar?
- ¿Es una visualización interesante?
- ¿El uso del color es adecuado?
- ¿Hay un exceso o falta de elementos visuales en la visualización elegida?
- ¿La visualización es consistente con los datos?
- Conclusiones presentadas.
- ¿Presenta el grupo un listado de "insights" aprendidos sobre los datos en base al análisis realizado? ¿Es interesante? 


El grupo que realice el mejor análisis exploratorio obtendrá 10 puntos para cada uno de sus integrantes que podrán ser usados en el parcial además de ser publicado en el repositorio de la materia como ejemplo para los siguientes cuatrimestres.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

plt.style.use('default')

sns.set(style="whitegrid")

pd.options.display.float_format = '{:20,.2f}'.format 

import warnings
warnings.filterwarnings('ignore')

In [36]:
archivo_muestral = pd.read_csv('train.csv',index_col=['id'],dtype={'keyword':str,'location':str,'text':str,'target':str})
archivo_muestral.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7613 entries, 1 to 10873
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   keyword   7552 non-null   object
 1   location  5080 non-null   object
 2   text      7613 non-null   object
 3   target    7613 non-null   object
dtypes: object(4)
memory usage: 297.4+ KB

In [37]:
archivo_muestral['longitud'] = archivo_muestral['text'].map(len)
archivo_muestral.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7613 entries, 1 to 10873
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   keyword   7552 non-null   object
 1   location  5080 non-null   object
 2   text      7613 non-null   object
 3   target    7613 non-null   object
 4   longitud  7613 non-null   int64
dtypes: int64(1), object(4)
memory usage: 356.9+ KB

In [38]:
archivo_muestral_sin_nulos = archivo_muestral.dropna()
archivo_muestral_sin_nulos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5080 entries, 48 to 10833
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   keyword   5080 non-null   object
 1   location  5080 non-null   object
 2   text      5080 non-null   object
 3   target    5080 non-null   object
 4   longitud  5080 non-null   int64
dtypes: int64(1), object(4)
memory usage: 238.1+ KB

## Introduccion

El siguiente informe Reune los resultados y concluciones de analizar una serie de tweets de desastres que pueden ser
 verdaderos o no.
 
 Twitter se ha convertido en un importante canal de comunicación en tiempos de emergencia.
La ubicuidad de los teléfonos inteligentes permite a las personas anunciar una emergencia que están observando en tiempo real.

### Analisis de teewts en relacion de verdaderos y falsos

#### Segun su localizacion

In [43]:
grupo_por_localizacion = archivo_muestral_sin_nulos.groupby(['location']).agg({'target':['count','sum'],'longitud':['mean','sum']})
grupo_por_localizacion

                       target                 longitud
                        count sum                 mean  sum
location
                            1   1                56.00   56
  Glasgow                   1   0                70.00   70
  Melbourne, Australia      1   0               131.00  131
  News                      1   1               135.00  135
  å_                        1   0                35.00   35
...                       ...  ..                  ...  ...
å_: ?? ÌÑ ? : ?             1   0                82.00   82
å_å_Los Mina Cityã¢        1   0               136.00  136
å¡å¡Midwest Û¢Û¢          1   0                52.00   52
åÊ(?Û¢`?Û¢å«)??           1   0                33.00   33
åø\_(?)_/åø                 1   1               135.00  135

[3341 rows x 4 columns]